##
## application.yml — главный конфигурационный файл Spring Boot.
#
#Что нужно сделать:
#  - Указать настройки подключения к базе данных.
#  - Указать порт приложения.
#  - Настроить параметры безопасности и JWT.
#  - Включить Swagger UI.

spring:
  application:
    name: Bank_REST
  datasource:
    url: jdbc:postgresql://localhost:5432/bank
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  liquibase:
    enabled: true
    change-log: classpath:db/migration/changelog-master.yaml
  messages:
    encoding: UTF-8

token:
  signing:
    key: 53A73E5F1C4E0A2D3B5F2D784E6AGG423D6F247D1F6E5C3A596D635A75327855

springdoc:
  swagger-ui:
    show-common-extensions: true
  api-docs:
    path: /api-docs/api-docs.yaml

server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8