##
## application.yml — главный конфигурационный файл Spring Boot.
#
#Что нужно сделать:
#  - Указать настройки подключения к базе данных.
#  - Указать порт приложения.
#  - Настроить параметры безопасности и JWT.
#  - Включить Swagger UI.

spring:
  application:
    name: Bank_REST
  datasource:
    url: jdbc:postgresql://localhost:5432/bank
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  liquibase:
    enabled: true
    change-log: classpath:db/migration/changelog-master.yaml

springdoc:
  swagger-ui:
    url: /docs/openapi.yaml
    path: /swagger-ui.html

server:
  port: 8080